<?xml version="1.0"?>
<launch>
  <!-- Standalone launch file to visualize the Grizzly URDF model. -->
  <arg name="gui" default="True" />
  <arg name="description" default="$(find grizzly_description)/urdf/base.urdf.xacro" />

  <param name="robot_description" command="$(find xacro)/xacro '$(arg description)'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <param name="use_gui" value="$(arg gui)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grizzly_viz)/rviz/model.rviz" />
</launch>
