<?xml version="1.0"?>
<launch>
  <!-- Launch file to view a real or simulated Grizzly in the odom frame
       and optionally control it using interactive markers -->
  <arg name="config" default="robot" />
  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
    <rosparam>
      robot_name: grizzly
      marker_size_scale: 2.1
      linear_scale: 0.15
      angular_scale: 0.2
    </rosparam>
    <remap from="twist_marker_server/cmd_vel" to="/cmd_vel" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grizzly_viz)/rviz/$(arg config).rviz" />
</launch>
